﻿@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer localizer

@{
	var isRTL = CultureInfo.CurrentCulture.Name.StartsWith("ar");
}

<!DOCTYPE html>
<html lang="en" dir="@(isRTL ? "RTL" : "LTR")">

<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="M_Adnan">
	<title>@ViewData["Title"] -Innovation App</title>

	<!-- Bootstrap Core CSS -->
	<link href="~/User/css/bootstrap.min.css" rel="stylesheet">

	@if (isRTL)
	{
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.rtl.min.css" integrity="sha384-gXt9imSW0VcJVHezoNQsP+TNrjYXoGcrqBZJpry9zJt8PCQjobwmhMGaDHTASo9N" crossorigin="anonymous">
	}

	<!-- Custom CSS -->
	<link href="~/User/css/main.css" rel="stylesheet">
	<link href="~/User/fonts/flaticon.css" rel="stylesheet">
	<link href="~/User/css/style.css" rel="stylesheet">
	<link href="~/User/css/responsive.css" rel="stylesheet">

	<!-- fontawesome  -->
	<link href="~/User/css/all.min.css" rel="stylesheet">

	<!-- JavaScripts -->
	<script src="~/User/js/modernizr.js"></script>

	<!-- Online Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800" rel="stylesheet">


</head>
<body>

	<!-- Wrap -->
	<div id="wrap">

		<!-- header -->
		<header class="sticky">
			<div class="container">
				<!-- Logo -->
				<div class="logo"> <a href="index.html"><img class="img-responsive" src="images/logo-dark.png" alt=""></a> </div>
				<nav class="navbar ownmenu navbar-expand-lg" id="nav-resposive">
					<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
					<div class="collapse navbar-collapse" id="navbarNav" data-parent="#nav-resposive">
						<ul class="nav">
							<li><a asp-area="Client" asp-controller="Home" asp-action="Index">@localizer["home"]</a></li>
							<li><a asp-area="Client" asp-controller="Home" asp-action="AboutUs">@localizer["about"]</a></li>
							<li><a asp-area="Client" asp-controller="Home" asp-action="Contact">@localizer["contact"]</a></li>
							<li><a asp-area="Client" asp-controller="Home" asp-action="Servicess">@localizer["servicess"]</a></li>
							<li><a asp-area="Client" asp-controller="Home" asp-action="Team">@localizer["team"]</a></li>
							<li><a asp-area="Client" asp-controller="Home" asp-action="Works">@localizer["works"]</a></li>
						</ul>
					</div>

					<!-- Nav Right -->
					<div class="nav-right">
						<button class="social-toggler collapsed" type="button" data-toggle="collapse" data-target="#socialNav" aria-controls="socialNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="fa fa-share-alt"></span> </button>
						<div class="collapse navbar-collapse navbar-expand-lg" id="socialNav" data-parent="#nav-resposive">
							<div class="social_icons">
								<ul>
									<li><a href="#."><i class="fab fa-facebook-f"></i></a></li>
									<li><a href="#."><i class="fab fa-twitter"></i></a></li>
									<li><a href="#."><i class="fab fa-linkedin-in"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
			</div>
			<div class="clearfix">
				<partial name="_SelectLanguage" />
			</div>
		</header>

		<!-- Content -->
		<div id="content">
			@RenderBody()
		</div>

		<!-- Footer -->
		<footer id="footer">
			<div class="footer-wrapper">

				<!-- Footer Top -->
				<div class="footer-top">
					<div class="footer-top-wrapper">
						<div class="container">
							<div class="row">
								<!-- About Block -->
								<div class="col-md-4">
									<div class="block block-companies">
										<h3 class="block-title">Latest Companies</h3>
										<div class="block-content">
											<ul>
												asdasds
											</ul>
											<ul>
												asdasds
											</ul>
											<ul>
												asdasds
											</ul>
										</div>
										<div class="block-content">
											<ul>
												ssssss
											</ul>
											<ul>
												asdssssasds
											</ul>
											<ul>
												qqqq
											</ul>
										</div>
									</div>
								</div>

								<!-- Footer Links Block -->
								<div class="col-md-4">
									<div class="block block-links">
										<h3 class="block-title"><span>Usefull Links</span></h3>
										<div class="block-content">
											<ul>
												<li><a asp-area="Client" asp-controller="Home" asp-action="Index">Home</a></li>
												<li><a asp-area="Client" asp-controller="Home" asp-action="AboutUs">About</a> </li>
												<li><a asp-area="Client" asp-controller="Home" asp-action="Contact">Contact Us</a> </li>
												<li><a asp-area="Client" asp-controller="Home" asp-action="Servicess">Services</a> </li>
												<li><a asp-area="Client" asp-controller="Home" asp-action="Team">Team</a> </li>
												<li><a asp-area="Client" asp-controller="Home" asp-action="Works">Works</a></li>
											</ul>
										</div>
									</div>
								</div>

								<!-- Twitter Widget Block -->
								<div class="col-md-4">
									<div class="block block-twitter-widget">
										<h3 class="block-title"><span>Twitter Widget</span></h3>
										<div class="block-content">
											<div class="twitter-item">
												<div class="twitter-content"> Looking for an awesome CREATIVE WordPress Theme? Esquise was updated and optimized to run even better. Find it here: <a href="https://webicode.com/" target="_blank">https://webicode.com/</a> </div>
												<div class="twitter-context"> <i class="fa fa-twitter"></i><span class="twitter-date">01 day ago</span> </div>
											</div>
											<div class="twitter-item">
												<div class="twitter-content"> It is a long established fact that a reader will be distracted by the readable . Find it here: <a href="https://webicode.com/" target="_blank">https://webicode.com/</a> </div>
												<div class="twitter-context"> <i class="fa fa-twitter"></i><span class="twitter-date">02 days ago</span> </div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Footer Bottom -->
				<div class="footer-bottom">
					<div class="footer-bottom-wrapper">
						<div class="container">
							<div class="row">
								<div class="col-md-6 copyright">
									<p>&copy; 2019 HTML5 Template. DESIGNED BY <a href="https://webicode.com/"> WEBICODE</a></p>
								</div>
								<div class="col-md-6 social-links">
									<ul class="right">
										<li><a href="#."><i class="fab fa-facebook"></i></a></li>
										<li><a href="#."><i class="fab fa-twitter"></i></a></li>
										<li><a href="#."><i class="fab fa-dribbble"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- End Footer Bottom -->
			</div>
		</footer>
		<!-- End Footer -->

	</div>
	<script src="~/User/js/jquery-1.11.3.min.js"></script>
	<script src="~/User/js/bootstrap.min.js"></script>
	<script src="~/User/js/own-menu.js"></script>
	<script src="~/User/js/jquery.counterup.min.js"></script>
	<script src="~/User/js/owl.carousel.min.js"></script>
	<script src="~/User/js/main.js"></script>


	@RenderSection("Scripts", required: false)

	<script>
		$(document).ready(function () {
			$('ul.nav li').click(function () {
				$('ul.nav li').removeClass('active');
				$(this).addClass('active');
			});
		});
	</script>
</body>
</html>